<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mtm掲示板過去ログ</title>
    {% include "components/header.html" %}
</head>

<body>
    <!-- Navbar -->
    {% with title=title, topbutton="1" %}
    {% include "components/navbar.html" %}
    {% endwith %}
    <main>
        <div class="container text-left">
            <div class="row justify-content-center">
                <!-- Picker -->
                {% include "components/date_picker.html" %}

                <!-- Result -->
                {% with rows=rows %}
                {% include "components/response_area.html" %}
                {% endwith %}
                {% if rows |length ==0 %}
                {% include "components/tip.html" %}
                {% endif %}
            </div>
        </div>
    </main>
</body>

</html>