<div class="col-md-9">
    <p>年月を選ぶと当該年月の投稿すべてを見られます。</p>
    <p>検索欄に言葉1つを入れて Search ボタンを押すと、言葉を含む投稿すべてを見られます。
        <br>検索したい言葉のあとに、以下の条件を追加できます。条件は組み合わせて使えます。</p>
    <ul class="list-group">
        <li class="list-group-item"><i>since</i> - <strong>投稿日の起点</strong>
            <br>例 <code>相模大野 since:2019-03-12</code></li>
        <li class="list-group-item"><i>until</i> - <strong>投稿日の終点</strong>
            <br>例 <code>多摩線 until:2021-08-31</code></li>
        <li class="list-group-item"><i>by</i> - <strong>投稿者</strong>
            <br>例 <code>経営計画 by:山木</code></li>
    </ul>
</div>