<div class="col mt-2">
    <div class="row">
        <div class="col-md-6">
            <p>収録範囲は、2010年6月から2022年7月1日までの33017件です。</p>
            <p>年月を選ぶと当該年月の投稿すべてを見られます。</p>
            <p class="d-sm-none"><i class="bi bi-phone"></i> 右上の <span class="border rounded px-2 py-1 text-bg-light"><i class="bi bi-list"></i></span> ボタンを押すと、検索欄が出てきます。</p>
            <p>検索欄に言葉1つを入れて <span class="rounded px-2 py-1 text-bg-primary"><i class="bi bi-search"></i></span> ボタンを押すと、言葉を本文に含む投稿すべてを見られます。
                <br>検索したい言葉のあとに、以下の条件を追加できます。条件は1個ずつ組み合わせて使えます。
                <br>本文ではなくタイトルで検索したいときなど、条件だけを使いたいときには、検索する言葉の代わりに半角空白を2つ入れます。
            </p>
            <p>組み合わせ例 <code>8251F title:江ノ島線 since:2011-01-01 until:2012-12-31 by:3000形大好き</code></p>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><i>since</i> - <strong>投稿日の起点</strong>
                    <br>例 <code>相模大野 since:2019-03-12</code>
                </li>
                <li class="list-group-item"><i>until</i> - <strong>投稿日の終点</strong>
                    <br>例 <code>多摩線 until:2021-08-31</code>
                </li>
                <li class="list-group-item"><i>by</i> - <strong>投稿者名</strong>（部分一致）
                    <br>例 <code>N44 by:95</code>
                </li>
                <li class="list-group-item"><i>title</i> - <strong>投稿タイトル</strong>（部分一致）
                    <br>例 <code>人身事故 title:1日</code>
                </li>
            </ul>
        </div>
    </div>
</div>